  .Calculator {
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    border: solid 1px #000;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 70px;
    transition: all 0.7s;
  }

  .BottonsChange {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .buttonlight {
    border: solid 5px #ff8be6;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.7s;
  }

  .buttondark {
    border: solid 5px #000;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.7s;
  }

  .CalculatorMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  
  .fila {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
  }
  
  .operacion {
    background-color: rgb(201, 201, 201);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 40px;
    transition: all 0.8s;
  }
  
  .operacion:hover {
    border: solid 4px #000;
    transform: scale(1.1);
  }
  
  .Stup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
  }