.tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 10px 0 0 10px;
    border: solid 2px #cdffe0;
    outline: none;
    position: relative;
    left: 30px;
}

.tarea-boton {
    padding: 16px;
    font-size: 18px;
    font-family: roboto, sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #27ff7a;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    left: 30px;
}