/* Estilos opcionales para el menú desplegable */
#menu {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

optgroup {
    font-weight: bold;
}

#adivinanza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombreListaMagica {
text-align: center;
}

.butc {
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px 20px 0 20px;
    cursor: pointer;
    background-color: #007bff; /* Azul pastel */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.butc:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}
.textInput[type="text"] {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #007bff; /* Azul pastel */
    padding: 8px 12px;
    border: 1px solid #007bff; /* Azul pastel */
    border-radius: 5px;
    margin-top: 10px;
}
.section-title {
    color: #007bff; /* Azul pastel */
    font-weight: bold;
    font-size: 24px;
}
.parrafis {
    color: #007bff; /* Azul pastel */
    font-size: 18px;
}

.sectionAdivinanza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Ola {
    width: 600px;
    transition: all 0.7s;
}

.Ola:hover {
    transform: scale(1.0);
}

.Olatitle {
    text-align: center;
}

.BoxOLa {
    background-color: #9fd1e7;
    border-radius: 20px;
}

.ContainerMedia {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    padding: 40px;
    border-radius: 20px;
    transition: all 0.7s;
}

.cajasMedia {
    background-color: #0056b3;
    padding: 20px;
    color: white;
    border-radius: 10px;
    transition: all 0.7s;
}

@media(width <= 944px) {
    .ContainerMedia {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: aquamarine;
        padding: 40px;
        border-radius: 20px;
    }

    .cajasMedia {
        background-color: #0056b3;
        padding: 20px;
        color: white;
        border-radius: 10px;
        transition: all 0.7s;
        margin: 30px;
    }
}

.topic {
    margin: 40px;
    background-color: #0056b3;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.expand-button {
    background-color: #007bff;
    border-radius: 10px;
    border: none;
    padding: 20px;
    color: white;
    transition: all 0.7s;
}

#results-button {
    background-color: aquamarine;
    padding: 20px;
    border: none;
    border-radius: 20px 0 20px 0;
}

.GatosClass{
    width: 290px;
    transition: all 0.7s;
    border-radius: 20px;
}

.GatosClass:hover {
    transform: scale(1.1);
}

.contenidoDaniela {
    display: flex;
    justify-content: center;
}

.leftDaniela {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}

.leftDaniela:hover {
    transform: scale(1.1);
    color: rgb(145, 197, 221);
    transition: all 0.9s ease; 
}

#inicio{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#inicio{
    background-color: #EDF2FB;
}
#eEtiquetaid{
    background-color: #78A3D4;/*se define el formato de la sección*/
}
.contenedor-tiempo{
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-tiempo.linea{
    width: 90px;
    position: absolute;
    top: 300px;
    height: 2px;
    background-color: black;
    z-index: -2;
}
.Nombre{
    display: inline-block;
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 187, 0);
    text-decoration: none;
    color: white;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: bakground-color, transform.5s linear;
}
.selectionado{
    transform: scale(1.2);
    background-color: aquamarine;
    color: #000;
    font-weight: bold;
}